{% extends 'comunes/base.html' %}
{% block navbar %}
{{super()}}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
    <h1 align="center">Productos de "@@@@@@@"</h1>
    <center>
        <table class="table table-bordered table-hover" id="tablaProductos">
       <thead>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>CATEGORIA</th>
            <th>PRECIO</th>
            <th>STOCK</th>
       </thead>
            {% for prod in productos %}
            <tr>
                <td>{{prod.nombre}}</td>
                <td>{{prod.descripcion}}</td>
                <td>{{prod.categoria.nombre}}</td>
                <td>{{prod.precioVenta}}</td>
                <td>{{prod.existencia}}</td>
            </tr>
        {% endfor %}
    </table>
    </center>
{% endblock %}