{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
{{super()}}
    <h1>LISTADO DE PRODUCTOS</h1>
    {% if current_user.is_authenticated and current_user.is_admin() %}
    <a href="/productos/nuevo" class="btn btn-success">
         <span class="glyphicon glyphicon-plus-sign"></span>
        Agregar Producto
    </a>
    {% endif %}
    <div class="table-responsive">
    <table class="table">
        <thead>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>CATEGORIA</th>
            <th>PRECIO</th>
            <th>IMAGEN</th>
            <th>STOCK</th>
            <th>ESTATUS</th>
            {% if current_user.is_authenticated and current_user.is_comprador() %}
            <th>AGREGAR AL CARRITO</th>
            {% endif %}
            {% if current_user.is_authenticated and current_user.is_admin() %}
            <th>Ver</th>
            {% endif %}
        </thead>
        {% for prod in productos %}
            <tr>
                <td>{{prod.nombre}}</td>
                <td>{{prod.descripcion}}</td>
                <td>{{prod.categoria.nombre}}</td>
                <td>${{prod.precioVenta}}</td>
                <td><img src="/productos/consultarImagen/{{prod.idProducto}}" width="100px" height="80px"></td>
                <td>{{prod.existencia}}</td>
                <td>{{prod.estatus}}</td>
                {% if current_user.is_authenticated and current_user.is_admin() %}
                    <td>
                        <a href="/productos/{{prod.idProducto}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}