{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
{{super()}}

    <h1 class="bg-primary text-center">Carrito</h1>
    <table class="table table-bordered table-hover justify-content-center" id="tablametodos">
        <th>ID DEL PRODUCTO</th>
        <th>NOMBRE DEL PRODUCTO</th>
        <th>IMAGEN DEL PRODUCTO</th>
        <th>ESPECIFICACIONES DEL PRODCTO</th>
        <th>FECHA EN QUE SE AGREGO</th>
        <th>CANTIDAD</th>
        <th>TOTAL</th>
        <th>ESTATUS</th>
        <th>VER</th>
        {% for car in carrito %}
            <tr>
                <td>{{car.idProducto}}</td>
                <td>{{car.producto.nombre}}</td>
                <td><img src="/productos/consultarImagen/{{car.idProducto}}" width="100px" height="80px"></td>
                <td><img src="/productos/consultarEspecificaciones/{{car.idProducto}}" width="100px" height="80px"></td>
                <td>{{car.fecha}}</td>
                <td>{{car.cantidad}}</td>
                <td>{{car.producto.precioVenta*car.cantidad}}</td>
                <td>{{car.estatus}}</td>
                <td><a href="/Usuarios/verCarrito/ed/{{car.idCarrito}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <label>Total a pagar:</label>
    $ <input type="number" id="totalAPagar" value="{{total}}" readonly>
    <br>
    <br>
    <button type="button" class="btn btn-warning" onclick="mostrarSaldo();">Actualizar saldo disponible</button>
    <input type="number" id="saldoTarjeta" readonly>
    <br>
    <br>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Pagar</button>

    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Proceder al pago</h4>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro que deseas pagar ahora?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-default" onclick="hacerPago();">Pagar</button>
        </div>
      </div>
      
    </div>
  </div>

    </center>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static',filename='js/saldo.js')}}">
</script>
<script type="text/javascript">
    window.onload=inicio;
</script>
{% endblock %}