{% extends 'Comunes/base.html' %}
{{super()}}
{% block contenido %}
  <script src="https://kit.fontawesome.com/2530d1feb2.js" crossorigin="anonymous"></script>
<h1>Añadir Tarjeta de credito/Debito</h1>

<form action="/tarjetas/agregar" class="TarjetasCuadro" method="post" enctype="multipart/form-data">
        <div class="contenedor2">
        <div>
            <label for="ID" >ID:</label>
            <input type="number" name="ID" maxlength="16" required disabled value="{{current_user.idUsuario}}">
        </div>
            <div>
            <label for="IDT" >ID:</label>
            <input type="number" name="IDT" maxlength="10" required>
              </div>
            <div >
             <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-visa"></i>
            <label for="noTarjeta" >Numero de la tarjeta</label>
            <input type="number" name="noTarjeta" maxlength="16" required>
        </div>

        <div >
            <i class="fas fa-dollar-sign"></i>
            <label for="Saldo">Saldo de la tarjeta</label>
            <input type="number" name="Saldo" required>
        </div>

        <div >
            <i class="fas fa-university"></i>
            <label for="Banco">Banco al que pertenece</label>
            <input type="text" name="Banco" required>
        </div>

        <div >
            <label for="Estatus" >Estatus en la que se encuentra A/B</label>
            <input type="text" name="Estatus" maxlength="1" required>
        </div>
            <input type="submit" value="Registrar Tarjeta"  class="btn btn-danger">
            <a href='/Usuarios/verTarjetas' class="btn btn-danger">Cancelar</a>
  </div>

</form>







{% endblock %}