{% extends 'comunes/base.html' %}
{% block navbar %}
	{{super()}}
	{% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
    <h1>PEDIDOS REALIZADOS</h1>
    <div class="table">
    <table class="table table-striped" >
        <thead>
            <th>ID PEDIDO</th>
            <th>FORMA DE PAGO</th>
            <th>FECHA DE REGISTRO</th>
            <th>FECHA DE ATENCION</th>
            <th>FECHA DE RECEPCION</th>
            <th>TOTAL A PAGAR</th>
            <th>TOTAL DE UNIDADES</th>
            <th>ESTATUS</th>
        </thead>
        <tr>
            <td>87128712</td>
            <td>Pago referenciado (Transferencia SPEI, Depósito en efectivo/cheque)</td>
            <td>01/04/2021</td>
            <td>02/07/2021</td>
            <td>05/07/2021</td>
            <td>$2200</td>
            <td>4 unidades</td>
            <th>ENTREGADO</th>
        </tr>
        <tr>
            <td>74821174</td>
            <td>Pago referenciado (Transferencia SPEI, Depósito en efectivo/cheque)</td>
            <td>04/07/2021</td>
            <td>05/07/2021</td>
            <td>09/07/2021</td>
            <td>$3000</td>
            <td>4 unidades</td>
            <th>ENVIADO</th>
        </tr>
        <tr>
           <td>82473474</td>
            <td>Pago referenciado (Transferencia SPEI, Depósito en efectivo/cheque)</td>
            <td>07/07/2021</td>
            <td>08/07/2021</td>
            <td>31/07/2021</td>
            <td>$3000</td>
            <td>4 unidades</td>
            <th>PENDIENTE</th>
        </tr>
        <tr>
           <td>15412469</td>
            <td>Pago referenciado (Transferencia SPEI, Depósito en efectivo/cheque)</td>
            <td>05/06/2021</td>
            <td>05/06/2021</td>
            <td>09/06/2021</td>
            <td>$15000</td>
            <td>1 unidades</td>
            <th>ENTREGADO</th>
        </tr>
        <tr>
           <td>7181751</td>
            <td>Pago referenciado (Transferencia SPEI, Depósito en efectivo/cheque)</td>
            <td>07/07/2021</td>
            <td>08/07/2021</td>
            <td>31/07/2021</td>
            <td>$2000</td>
            <td>4 unidades</td>
            <th>PENDIENTE</th>
        </tr>
    </table>
        <a class="btn btn-primary mb-3" href="/pedidosclt/pedidosdetalle" >Detalles de pedidos</a>
    </div>
{% endblock %}